Name:<input type="text" ng-model="username"><br>
Email:<input type="email" ng-model="useremail"><br>
Location:<input type="text" ng-model="userlocation"><br>
Contact No:<input type="number" ng-model="usermob"><br>
<input type="checkbox" ng-model="sponsor">I would like to be a sponsor<br>
<div ng-show="sponsor">
Organisation Name:<input type="text" ng-model="orgname"><br>
Organisation Website:<input type="text" ng-model="orgwebsite"><br>
Organisation Mail id:<input type="text" ng-model="orgcontact"><br>
Organisation Location:<input type="text" ng-model="orgloc"><br>
Type of company:<input type="text" ng-model="orgwork"><br>
</div>

<button ng-click="">Update</button>
{{ sponsor }}
